<!DOCTYPE html>
<html>
  <head>
    <script src="build/react.js"></script>
    <script src="build/JSXTransformer.js"></script>
    <script src="js/classnames.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"
  </head>
  <body>
    <div class="container">
      <h1 class="main-title">Tasks for today</h1>
      <div id="mount-point">
      </div>
    </div>
    <script type="text/jsx" src="components/list.js"></script>
  </body>
</html>
